SQLSERVER=localhost,1433
SQLDATABASE=gd_mts
SQLUSER=your_sql_user
SQLPASSWORD=your_sql_password
CAPTURE_APP_URL=http://localhost:38086/BeInformed/
BASIC_AUTH_USER=your_basic_auth_user
BASIC_AUTH_PASSWORD=your_basic_auth_password
